{% extends 'layout/base.html.twig' %}

{% block title %}Create Vehicle {% endblock %}

{% block body %}
    {{ include('vehicle/_form.html.twig') }}

    <a href="{{ path('vehicle_index') }}">back to list</a>
{% endblock %}
