{% extends 'layout/base.html.twig' %}

{% block title %}Edit Attributes {% endblock %}

{% block body %}
    {{ include('attribute/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attribute_index') }}">back to list</a>

    {{ include('attribute/_delete_form.html.twig') }}
{% endblock %}
