<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Hexis admin</div>
    </a>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ path('brand_index') }}">
{#            <i class="fas fa-fw fa-chart-area"></i>#}
            <i class="fas fa-fw fa-table"></i>
            <span>Brands</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('attribute_index') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Attributes</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('vendor_index') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Points of sales</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('vehicle_index') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Vehicles</span></a>
    </li>

</ul>
